*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 77%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #000; }

.active {
  color: #d35400;
  font-weight: bold; }

.dark {
  background-color: #2c3e50;
  color: #fff; }

.header {
  background-color: #2c3e50;
  min-height: 10rem;
  color: #fff;
  border-bottom: 0.4rem solid #d35400;
  padding: 0rem 1rem 0rem 1rem; }
  .header__branding {
    float: left;
    margin-top: 3rem; }
    .header__branding--active {
      color: #d35400;
      font-weight: bold; }

.navigation {
  float: right;
  margin-top: 4rem; }
  .navigation__list {
    padding: 0; }
  .navigation__item {
    list-style-type: none;
    display: inline;
    margin-left: 2rem; }
  .navigation__link {
    text-decoration: none;
    color: #fff; }
    .navigation__link--active {
      color: #d35400;
      font-weight: bold;
      text-decoration: none; }
    .navigation__link:hover {
      color: #d354005e;
      font-weight: bold; }

.footer {
  width: 100%;
  background-color: #d35400;
  color: #fff;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }

.newsletter {
  background-color: #2c3e50;
  min-height: 10rem; }
  .newsletter__container {
    width: 80%;
    margin: auto;
    overflow: hidden; }
  .newsletter__heading {
    float: left;
    width: 55%;
    color: #fff;
    margin-top: 3.5rem; }
  .newsletter__form {
    float: right;
    margin-top: 3rem; }
  .newsletter__input {
    padding: 1rem 0rem;
    width: 18rem; }
  .newsletter__btn {
    border: none;
    padding: 1.2rem 0rem;
    width: 8rem;
    background-color: #d35400;
    color: #fff;
    cursor: pointer; }

.boxes {
  min-height: 30rem; }
  .boxes__container {
    width: 80%;
    margin: auto;
    overflow: hidden; }

.box {
  float: left;
  /* display: inline-block; */
  width: 30%;
  text-align: center;
  margin-top: 3rem;
  margin-right: 1.5%;
  margin-left: 1.5%; }
  .box-1-img {
    width: 10rem; }
  .box-2-img {
    width: 10rem; }
  .box-3-img {
    width: 10rem; }

.banner {
  background: url("../../img/showcase.jpg") no-repeat 0 -400px;
  min-height: 40rem;
  text-align: center;
  color: #ffffff; }
  .banner__container {
    width: 80%;
    margin: auto;
    overflow: hidden; }
  .banner__heading {
    font-size: 5.5rem;
    margin-top: 10rem; }
  .banner__content {
    font-size: 2rem;
    margin-bottom: 5rem; }

.boxes__container {
  width: 80%;
  margin: auto;
  overflow: hidden; }
  .boxes__container--services {
    float: left;
    width: 65%;
    margin-bottom: 2rem; }
    .boxes__container--services div {
      background-color: #bdc3c7;
      padding: 2rem;
      margin-bottom: 0.5rem;
      border: 1px solid #7f8c8d; }

.about {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 2.5rem; }
  .about__article {
    float: left;
    width: 65%;
    text-align: center; }
  .about__aside {
    float: right;
    width: 25%;
    margin-top: 2rem;
    text-align: justify; }
  .about__aside,
  .about p:nth_child(3) {
    padding: 2.5rem; }

.boxes__container--contact {
  float: right;
  width: 30%;
  margin-top: 2rem;
  padding: 2%; }
  .boxes__container--contact input[type='text'],
  .boxes__container--contact textarea {
    width: 95%;
    padding: 2.5%; }
  .boxes__container--contact button {
    background-color: #d35400;
    color: #ffffff;
    border: none;
    width: 10rem;
    padding: 1rem 0rem; }
